/* Padding */
.padding-0 { 
    padding: 0 !important; 
}
.padding-0-x {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.padding-0-y {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/* Margin */
.margin-0 { 
    margin: 0 !important; 
}
.margin-0-x {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.margin-0-y {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}