/* ========================================================================== */
/* Component: ACF: Layouts: Header */
/* =============================== */

.site-header {
    @include translate_xy(0, -$ow-header-height-mobile);
    height: $ow-header-height-mobile;
    top: 0; left: 0; right: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0;
    transition: all $ow-transition;
    z-index: 100;

    &.active {
        @include translate_xy(0, 0);
        opacity: 1;
    }
    @include tablet_ls {
        @include translate_xy(0, -$ow-header-height-desktop);
        height: $ow-header-height-desktop;
    }
    .ow-wrap-logo {
        @include align_y;
        left: 16px;
        z-index: 3;
    }
	/* Header Background */
	.ow-header-bg {
	    position: absolute;
	    z-index: 2;
	    height: 100%;
	    width: 100%;
	}
}


/* ========================================================================== */
/* Navigation */
/* ========== */

.ow-wrap-navigation {
    width: 100%;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            float: left;
            width: 25%;

            a {
                @include fill_parent;
                display: block;
                color: #05A1DC;
            }
            .ow-img {
                display: block;
                margin: 0 auto;
                width: 100%;
                max-width: 80px;
            }
            .ow-text {
                display: block;
                text-align: center;
                padding-top: 16px;
            }
            .ow-icon,
            .ow-title {
                display: inline-block;
                font-size: 18px;
            }
        }
    }
}



/* Actual nav */
.ow-wrap-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 320px;
    transition-property: transform;
    transition-duration: $ow-transition;
    z-index: 1;
    padding: 0 32px;
    padding-top: $ow-header-height-mobile;
    text-align: left;

    @include tablet_ls {
        background: transparent !important;
    }
    
    /* Call to Action */
    .ow-wrap-ctas {
        height: 100px;

        .ow-pos {
            @include align_xy;
            width: 100%;
        }
    }
    &.active {
        overflow-y: auto;
        overflow-x: hidden;
    }
	/* nav hides and comes from the right side */
    &.ow-right {
    	@include translate_x(100%);
		right: 0;
		left: auto;

        &.active {
            @include translate_x(0);
        }
    }
    /* nav hides and comes from the right side */
	&.ow-left {
		@include translate_x(-100%);
		left: 0;
		right: auto;

        &.active {
            @include translate_x(0);
        }
	}
    &.ow-top {
        @include translate_y(-100%);
        right: 0;
        left: 0;
        width: 100%;

        &.active {
            @include translate_y(0);
        }
    }
    &.ow-bottom {
        @include translate_y(100%);
        right: 0;
        left: 0;
        width: 100%;

        &.active {
            @include translate_y(0);
        }
    }
    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        padding: 8px 0;

        a {
            font-size: 16px;
            transition: all $ow-transition;
        }
    }
    
    /* The actual Navigation: Primary and Secondary */
    .ow-nav,
    .ow-social-media {
        padding: 16px 0;
    }
}


@include tablet_ls {

    .ow-menu-toggle {
        display: none;
    }
    .ow-header-nav {
        height: $ow-header-height-desktop;

        .ow-wrap-nav {
            @include translate_xy(0, 0);
            padding: 0;
            padding-top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0; right: 0;
            background-color: transparent;
            z-index: 2;

            /* Call to Action */
            .ow-wrap-ctas {
                width: auto;
                height: 100%;

                .ow-pos {
                    @include reset_align;
                    @include align_y;
                    right: 16px;
                    width: auto;
                }
            }
            .ow-nav {
                @include align_y;

                &.ow-primary {
                    left: 180px;
                }
                &.ow-secondary {
                    right: 212px;
                }
            }
            ul {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 0;
                padding-top: 10px;
            }
            li {
                display: inline-block;
                width: auto;
                height: 100%;
                padding: 0 12px;
                opacity: 1;
                visibility: visible;
                float: none;
                margin: 0;

                a {
                    text-transform: initial;
                    position: relative;
                    background: transparent;
                    height: 100%;
                    display: table;
                    font-size: 16px;

                    span {
                        @include reset_align;
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0;
                    }
                }
            }
        }
    }
}



/* Nav Trigger */
/* ----------- */

.ow-nav-trigger {
    @include align_y;
    z-index: 3;
    right: 16px;

    @include tablet_ls {
        display: none !important;
    }
}


/* Nav Trigger: Icon */
a.ow-nav-trigger {
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    transition: border-color $ow-transition;
    
    .ow-text {
        @include align_y;
        text-transform: uppercase;
        font-weight: 100;
        position: absolute;
        right: 42px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .ow-icon {
        @include align_xy;
        display: block;
        bottom: auto;
        right: auto;
        width: 12px;
        height: 2px;
        transition: background-color $ow-transition;

        .ow-before,
        .ow-after {
            content: '';
            height: 2px;
            width: 12px;
            right: 0;
            position: absolute;
            transition: transform $ow-transition, top $ow-transition, background-color $ow-transition;
        }
        .ow-before {
            top: -5px;
        }
        .ow-after {
            top: 5px;
        }
    }
    &.active {

        .ow-icon {
            background-color: transparent !important;

            .ow-before {
                @include rotate(135deg);
                top: 0;
            }
            .ow-after {
                @include rotate(225deg);
                top: 0;
            }
        }
    }
}