/* ========================================================================== */
/* Variables: Colors */
/* ================= */

$ow-black: #151515;
$ow-black-light: #191919;
$ow-green: #80e15e;
$ow-grey: #666;
$ow-grey-dark: #333;
$ow-grey-light: #999;
$ow-grey-soft: #e7e7e7; /* good for borders and separators */
$ow-bg: #f8f8f8; /* good for item bg over white bg */

/* Links */
$ow-link-dark: #484848;
$ow-link-blue: #53a4f1;
$ow-link-grey: #2d2d2d;

/* Youtube Colors */
$youtube-grey: #303030;
$youtube-red: #CD282B;



/* ========================================================================== */
/* Variables: Random */
/* ================= */

$ow-transition: 0.3s;
$ow-shadow-box:  0px 4px 10px rgba(51, 51, 51, 0.2);
$ow-shadow-text: 0px 4px 10px rgba(51, 51, 51, 0.6);




/* ========================================================================== */
/* Variables: Structure */
/* ==================== */

$ow-header-height-mobile: 60px;
$ow-header-height-desktop: 80px;