/* ========================================================================== */
/* ACF: Markup: Content: Settings */
/* ============================== */

.ow-wrap-mrkp-ctnt-set {

	.ow-mrkp-ctnt-bg {
		opacity: 1;
		background-color: transparent;
		border-radius: 0;
		box-shadow: none;
	}
	.ow-mrkp-ctnt-body {
		padding: 0;
	}
}